* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: white !important;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 0px !important;
}

.navbar__cta {
  background-color: #d95d39 !important;
  width: 150px;
  color: white !important;
  border-radius: 8px !important;
  height: 40px;
  margin-left: 50px;
}

.navbar__cta:hover {
  color: #d95d39 !important;
  border: solid 2px #d95d39;
  background-color: white !important;
}

.navbar-brand {
  color: #d95d39 !important;
  font-weight: bold;
}

.nav-link {
  margin-right: 50px !important;
}

.nav-item .active {
  color: #d95d39 !important;
  font-weight: bold;
}

.heading {
  margin-top: 80px;
  font-weight: bold;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px;
}

.search {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  padding-left: 20px;
  border: solid 2px lightgray;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  border: none !important;
  border-radius: 10px !important;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.card__img {
  width: 60%;
  margin-top: 20px;
  border-radius: 10px !important;
}

.card__price {
  font-size: 1.125rem;
  color: darkgreen;
  font-weight: bold;
}

.card__btn {
  width: 100%;
  height: 45px;
  border: none !important;
  border-radius: 8px !important;
  background-color: #d95d39 !important;
  color: white !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.card__btn:hover {
  color: #d95d39 !important;
  border: solid 2px #d95d39 !important;
  background-color: white !important;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.footer {
  margin-top: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__copyright--text {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 0px !important;
}

.fa-facebook-square,
.fa-instagram,
.fa-youtube {
  font-size: 2rem;
  color: #d95d39;
  margin-left: 30px;
}
/*# sourceMappingURL=styles.css.map */